{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select disease</title>
    <link rel="stylesheet" href="/static/css/disease_form.css">
</head>
<body>
    <h1>Sugarcane</h1>
    <h2>Select Disease</h2>
    <form method="POST">
        <div class="image-option">
            <input type="submit" id="image1" name="disease" value="gummosis">
            <label for="image1">
                <img src="{{ url_for('static', filename='images/sugarcane/gummosis.jpg') }}" alt="Gummosis">
            </label>
            <h3> Gummosis</h3>
        </div>
        <div class="image-option">
            <input type="submit" id="image2" name="disease" value="red-rot">
            <label for="image2">
                <img src="{{ url_for('static', filename='images/sugarcane/red_rot.png') }}" alt="Red rot">
            </label>
            <h3> Red Rot</h3>
        </div>
        <div class="image-option">
            <input type="submit" id="image3" name="disease" value="wilt">
            <label for="image3">
                <img src="{{ url_for('static', filename='images/sugarcane/wilt.jpg') }}" alt="Wilt">
            </label>
            <h3> Wilt</h3>
        </div>
        <div class="image-option">
            <input type="submit" id="image4" name="disease" value="smut">
            <label for="image4">
                <img src="{{ url_for('static', filename='images/sugarcane/smut.jpg') }}" alt="Smut">
            </label>
            <h3> Smut</h3>
        </div>
        <div class="image-option">
            <input type="submit" id="image5" name="disease" value="red-stripe">
            <label for="image5">
                <img src="{{ url_for('static', filename='images/sugarcane/red_stripe.jpg') }}" alt="Red Stripe">
            </label>
            <h3> Red Stripe</h3>
        </div>
    </form>
</body>
{% endblock %}