{% extends "base.html" %}

{% block content %}
<head>
    <title>Red Stripe of Sugarcane</title>
    <link rel="stylesheet" href="/static/css/disease.css">
</head>
<body>
    <div class="container-text">
        <h1>Red Stripe</h1>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/sugarcane/red_stripe.jpg') }}" alt="Red Stripe"
            style="height:400px">
            <p class="caption">A sugarcane crop affected by Red Stripe</p>
        </div>
        <h2>Introduction </h2>
        <p>Red Stripe affecting sugarcane crops appears in the basal region of young leaves. They cause long, narrow streaks, which become redish brown within a few days.</p>

        <h2>Causes</h2>
        <p>Red Stripe is caused by the bacterium <strong>Pseudomonas rubrilineans</strong>. The bacterium can survive in soil and on infected plant debris, and can spread rapidly under favorable conditions.</p>

        <h2>Symptoms</h2>
        <p>Common symptoms of Red Stripe include:</p>
        <ul>
            <li>Reddish stripes on the leaves and stalks of the plant.</li>
            <li>Severe infections can lead to death of the plant.</li>
        </ul>

        <h2>Prevention and Management</h2>
        <p>Effective management of Red Stripe involves a combination of cultural practices, resistant varieties, and bactericide applications. Here are some strategies:</p>
        <ul>
            <li>Rotate crops to reduce the buildup of bacterial cells in the soil.</li>
            <li>Plant resistant varieties of sugarcane.</li>
            <li>Apply bactericides as a preventive measure, especially during favorable conditions for the disease.</li>
            <li>Ensure proper spacing between plants to improve air circulation.</li>
            <li>Remove and destroy infected plant debris after harvest.</li>
        </ul>
    </div>
</body>

{% endblock %}