
Nathan | Database requirements:
    Preparation:
        •Research possible database plugins
        •Select suitable plugin that integrates with Python
        •Familiarize self with how database plugin works

    Functional:
        •Create 3 Database instances (User information, Quiz results, Quiz questions )
        •Link User Information to Quiz Results via foreign key (Id)
        •Introduce query functions to pull data from tables (Questions, answers, results, roles etc)


    DB Contains:
        •User information = (User_Id[PRIMARY KEY] | Email | Password | First_name | Last_name | Role | Register_date | Last_login)
        •Quiz results = (Result_Id[PRIMARY KEY]| User_Id [Foreign KEY] | Score | Attempt_number )
        •Quiz results = (Question_Id[PRIMARY KEY]| Question | Option_1 | Option_2 | Option_3 | Correct_option )

    Improvements:
        •Increased security via encrypting passwords stored in DB