quiz requirements:
    functional:
        - display a question and multiple possible answers
        - user must be able to select an answer
        - must tell user if they are correct or not
        - the user will be asked if they want a new question or retry previous
        - if they want a new question it will change which question is displayed
    non-functional:
        - contain a database of at least 10 questions with answers
        - only a user with admin access can add or alter questions and answers
